.button {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.canvas {
  text-align: center;
  width: 80%;
  margin: 100px auto 100px;
}
span {
  display: block;
}
#pink {
  background: pink;
}
#yellow {
  background: yellow;
}
#blue {
  background: blue;
}
#white {
  background: white;
}
